#tabs>a{
	border: 1px dashed crimson;
}

#tabs>a.active{
	background: #FF69B4;
}

.box > div{
	display: none;
}

.box > div.active{
	display: block;
}

/* playlists */
#playlists{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#playlists >a{
	width: 30%;
}
#playlists :nth-child(2){
	margin-left: 5%;
	margin-right: 5%;
}
#playlists >a img{
	display: block;
	width: 100%;
}