body {
	margin: 0;
	font-size: 16px;
}
.page{
	position: relative;
	width: 100vw;
	height: 100vh;
	background: url('#') no-repeat center;
	background-size: cover;
}

div.name {
	font: 18px bold;
	text-align: center;
	color: #fff;
}
div.name > p{ 
	font-size: 16px;
	color: hsla(0,0%,100%,.6);
	margin-bottom: 0;
}

div.lyric-container {
	height: 20vh;
	overflow: hidden;
	text-align: center;
	color: hsla(0,0%,100%,.6);
}
.lyric{
	transition: 1s linear;
}
div.lyric > p.active{
	color: #fff;
}

@keyframes circle{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}

div.status{
	position: relative;
	width: 296px;
	height: 296px;
	margin: 0 auto;
	margin-top: 25px;
}
div.cover{
	width: 296px;
	height: 296px;
	margin: 0 auto;
	background-size: cover;
	border-radius: 50%;
	animation: circle 15s infinite linear;
	animation-play-state:paused;
}

div.cover.active{
	animation-play-state:running;
}

div.status >div.play,div.status >div.pause{
	display: none;
}
div.status >div.active{
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
}

div.status > div.active>svg{
	position: absolute;
	width: 56px;
	height: 56px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.bg-blur{
	position: absolute;
	left:0;
	top:0;
	width: 100vw;
	height: 100%;
	z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;	
	filter: blur(80px);
	opacity: 1;
}
/* svg */
.icon {
   width: 1em;
   height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
div.logo{
	display: flex;
	padding: 8px;
	align-items: center;
}
div.logo svg.icon{
	width: 18px;
	height: 18px;
	fill: #fff;
	background: #3FB883;
	border-radius: 50%;
}
div.logo span.orign {
	margin-left: 3vw;
	color:#fefefe;
}